*{
    
    margin:0%;
    padding: 0%;
}

.truncate{
    -webkit-line-clamp: 3;
    position: relative;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    /* height: 90px; */
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding-top: 5px;
}

.wraptext{
    font-size:14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.MuiCardMedia-media{
    width: 100% !important;
}
.MuiCardActionArea-root {
    width: 100%;
    display: block;
    /* text-align: -webkit-center !important; */
}
.MuiCardMedia-root {
    display: block;
    padding-top: 7px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.MuiCardMedia-img {
    object-fit: scale-down !important;
}
.Mui-selected{
    font-weight: 700;
}

.align-center{
    background-color: rgba(0,0,0,0.3);
    text-align: center;
    padding: 25px 10px 21px 50px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.MuiButton-label a{
    text-decoration: none;
    color:#000;
    font-weight: 500;
}

.p-details{
    margin-top: 50px;
    display: block;
    width: 100%;
    height: 100%;

}

.p-img{
    width:100%;
    height: 400px;
   
}

.img-hover-zoom {
    width:270px;
    height: 400px;
    overflow: hidden;
  }
  
  
  .img-hover-zoom img {
    transition: transform .5s ease;
  }
  
  
  .img-hover-zoom:hover img {
    transform: scale(1.5);
  }

  .flex {
    display: flex;
    width: 100%;
  }
  
  .products {
    width: 40%;
  }
  
  .infos {
    padding: 10px;
    margin: 10px;
    background: transparent;
    width: 100%;
  }
  
  .product {
    background: transparent;
    color: #000;
    margin: 10px;
    padding: 10px;
    width: 40%;
  }
  
  .info {
    width: 100%;
    color: #000;
  }
  
  .hidden {
    display: none;
  }
  .product-name{
      text-align: left;
  }
  .footer-product{
    position: relative;
    margin-top: 21px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    
    padding: 31px;
  }
  .p-booknow{
      position: relative;
      float: right;
      color:#fff !important;
  }

  .p-booknow span a{
    color:#fff !important;
  }

  .menu-rigth{
    flex-grow: 1;
    
  }
  .MuiIconButton-colorInherit{
    float:right;
  }
  a{
    text-decoration: none;
  }
  a h5,h6{
    color:#000;
  }

  .MuiAppBar-colorPrimary{
    background-color: #467eac !important;
  }

  .makeStyles-root-1{
    padding: 0px 0px 2px 3px !important;
    background-color: #467eac !important;
  }

  .MuiListItem-root{
    width:98% !important;
  }
  .MuiList-padding{
    padding:0px;
  }
  .makeStyles-button-4{
    color:#fff!important;
    font-size: 16px!important;
  }

  .headding{
    background-color: #115293;
    text-align: center;
    height: 72px;
    line-height: 60px;
  }
  .headding button{
    font-size: 24px!important;
    color:#f5f5f5;
    font-weight: 700 !important;
    text-align: left;
  }

  li .MuiButton-label svg{
    display: flex;
    right:0px;
  }

  li .MuiButton-label .MuiSvgIcon-root{
    position: absolute;
  }

  .price-prod{
    
    display: block;
    position: relative;
    padding:10px;
    box-shadow: 1px 2px 3px #ccc;

  }

  .p-title{
    font-size: 24px;
    font-weight: 700;
    margin: 5px;
  }

  .al-right{
    float: right;
  }
  .p-cart{
    width: 260px;;
  }

  .price-prod table {
    width: 100%;
  }
  .price-prod table tr{
    height: 35px;
    margin-top: 2px;
    border-bottom: 1px dotted #ccc;
  }
  .price-prod table th{
    
    text-align: left;
    font-weight: 549!important;
  }

  .price-prod table td{
   
    text-align: right;
  }

  .price-prod hr{
    width: 130%;
    margin-top:5px;
    margin-bottom:5px;
  }
  .price-prod button{
    width: 100%;
  }

  .hide{
    display: none;
  }

  .show{
    display: block;
  }